@font-face {
    font-family: bree;
    src: url(Bree_Serif/BreeSerif-Regular.ttf);
}

body
{
	margin:0px;
	padding:0px;
	background-image: url('clothDark.jpg');
}
.top
{
	height: 150px;
    width: 100%;
    border-bottom: 2px solid black;
}
.logo
{
    float: left;
    height: 120px;
    width: 120px;
    margin: 10px;
    border: 2px solid black;
    background-size: contain;
    background-image: url(profile.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.heading{
	font-size: 56px;
    margin-top: 26px;
    height: 100px;
    width: 75%;
    text-align: center;
    display: inline-block;
    font-family: bree;
}
.mid
{
	height:600px;
	width:100%;
}
.cont
{
	height: 400px;
	margin-top:100px;
}
.square
{
	width:33.33%;
	height:100%;
	display:inline-block;
}
.one
{
	float:left;
}
.two
{
	margin-right:auto;
	margin-left: auto;
}
.three
{
	float:right
}
.inner
{
	width:100%;
	height:auto;
}

.fullBox {
	max-width: 800px;
	width: 100vw;
	border: 2px solid black;
	box-shadow: 0px 5px 16px black;
	border-radius: 12px;
	min-height: 300px;
	background-image: url('cloth.jpg');
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

@media screen and (max-width:1024px)
{
	.fullBox {
		max-width: 100vw;
		width: 100vw;
		border: 0px solid black;
		box-shadow: 0px 5px 16px black;
		border-radius: 0px;
		min-height: 300px;
		background-image: url('cloth.jpg');
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
	}
	.square
	{
		width:100%;
		height:auto;
		display:inline-block;
	}
}